@import '~/../../../assets/css/theme/_theme';

$small: 300px;
$medium: 900px;

.bridge-wrapper {
  width: 512px;
  height: 672px;
  left: 408px;
  top: 100px;

  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(16px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
  padding: 24px;

  @media screen and (max-width: '1000px') {
    width: 100%;
    margin-left: 0px;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;

  width: 100%;
  height: 44px;

  /* light/gray-200 */

  background: #f7f7f8;
  border-radius: 12px;
}

.tabs_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 31px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;

  border-radius: 8px;

  &:hover {
    cursor: pointer;
  }

  p {
    // font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    margin-top: 15px;
  }
}

.tabs_button_checked {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 31px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;

  /* light/gray-100 */
  background: #ffffff;
  /* Button/Primary */
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.08), inset 0px 1px 0.5px rgba(255, 255, 255, 0.16);
  border-radius: 8px;

  p {
    // font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    margin-top: 15px;
  }
}

.brige_body {
  width: 100%;
  height: 319px;
  left: 432px;
  top: 184px;

  /* light/gray-100 */

  background: #ffffff;
  border-radius: 12px;
  padding: 24px;
  margin-top: 16px;
}

.from_label {
  width: 29px;
  height: 16px;
  left: 456px;
  top: 208px;

  /* Label/Extra Small */

  // font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: flex-end;

  /* light/gray-900 */

  color: #0a0b0d;

  margin-bottom: 8px;
}

.from_section {
  display: flex;
  flex-direction: column;

  height: 124px;
  left: 456px;
  right: 568px;
  top: 232px;

  /* light/gray-100 */

  background: #ffffff;
  /* light/gray-300 */

  border: 1px solid #dddfe0;
  border-radius: 12px;
}

.from_section_line {
  width: 100%;
  height: 0px;

  /* Light_Gray_400 */

  border: 1px solid #e7e9ee;
}

.chain_balance_details {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.chain_details {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 24px;
    width: 24;

    margin: 16px 9px 16px 16px;
  }

  p {
    // font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    margin-top: 18px;
  }
}

.balance_details {
  display: flex;
  align-items: center;

  p {
    margin-top: 20px;
    margin-right: 3px;
    color: #b0b4bb;
    font-size: 12px;
    // font-family: Manrope;

    &:last-child {
      margin-right: 16px;
      color: black;
    }
  }
}

.token_amount_details {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.token_details {
  width: 50%;
  margin-left: 16px;
  margin-right: 12px;

  &:hover {
    cursor: pointer;
  }
}

.token_details_wapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  padding: 12px;

  width: 134px;
  height: 44px;
  right: 580px;
  top: 300px;

  /* light/gray-100 */

  background: #ffffff;
  /* light/gray-300 */

  border: 1px solid #dddfe0;
  box-sizing: border-box;
  /* Button/Primary */

  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.08), inset 0px 1px 0.5px rgba(255, 255, 255, 0.16);
  border-radius: 8px;
}

.token_details_text {
  width: 50px;
  height: 24px;
  right: 622px;
  top: 310px;

  margin: 0 12px 0 8px;

  /* Header/H5 */

  // font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;

  /* light/gray-900 */

  color: #0a0b0d;
}

.amount_details {
  display: flex;
  justify-content: center;
  width: 100%;
}

.amount_details_max {
  display: flex;
  align-items: center;
  /* MAX */
  width: 40px;
  height: 30px;
  left: 679px;
  top: 314px;

  /* Label/Small */

  // font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  text-align: right;

  /* light/primary-500 */

  color: #7b3fe4;

  span {
    padding: 3px;
  }

  &:hover {
    cursor: pointer;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
}

.amount_value_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.amount_value {
  width: 100%;
  height: 32px;

  /* Header/H3 */
  // font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: -0.01em;

  /* light/gray-900 */

  color: #0a0b0d;
  border: 0px;
  margin: 18px 17px;

  &:focus {
    outline: none;
  }

  direction: ltr !important;
}

.arrow_icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 12px;
}

.to_text {
  width: 17px;
  height: 19px;
  left: 456px;
  top: 396px;

  margin-top: 12px;
  margin-bottom: 8px;

  // font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  color: #000000;
}

.to_wrapper {
  display: flex;
  justify-content: space-between;

  height: 56px;
  left: 456px;
  right: 568px;
  top: 423px;

  /* light/gray-100 */

  background: #ffffff;
  /* light/gray-300 */

  border: 1px solid #dddfe0;
  border-radius: 12px;
}

.warn_wrapper {
  left: 30%;
  right: 37.78%;
  top: 64.55%;
  bottom: 25.12%;

  /* Light_Gray_700 */

  background: #ffffff;
  border-radius: 12px;

  margin-top: 16px;
  padding: 5px 17px;
}

.warn_line1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.warn_line1_text {
  display: flex;
  align-items: center;
  justify-content: center;

  &__div_unchecked {
    width: 22px;
    height: 22px;
    left: 1px;
    top: 1px;

    /* light/primary-500 */
    border: 1px solid #dddfe0;
    border-radius: 6px;

    &:hover {
      cursor: pointer;
      border: 1px solid #7b3fe4;
    }
  }

  &__div_checked {
    width: 22px;
    height: 22px;
    left: 1px;
    top: 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* light/primary-500 */
    background: #7b3fe4;
    border: 1px solid #7b3fe4;
    border-radius: 6px;

    svg {
      color: #ffffff;
    }

    &:hover {
      cursor: pointer;
      border: 1px solid #8248e6;
    }
  }

  p {
    width: 168px;
    height: 20px;

    /* Label/Small */

    // font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    /* light/gray-900 */

    color: #0a0b0d;

    margin-top: 16px;
    margin-left: 9px;
  }
}

.warn_info {
  width: 22px;
  height: 22px;
  left: 1px;
  top: 1px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* light/primary-500 */
  border: 1px solid #b0b4bb;
  border-radius: 6px;

  svg {
    font-size: 12px;
    color: #b0b4bb;
  }
}

.warn_line2 {
  p {
    width: 400px;
    height: 16px;
    left: 480px;
    top: 560px;

    /* Body/Extra Small */

    // font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    /* light/gray-900 */

    color: #0a0b0d;

    margin-top: -10px;
    margin-left: 33px;
  }
}

.transfer_mode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  text-align: center;

  margin-top: 58px;
  margin-bottom: 16px;
}

.transfer_mode_text {
  height: 16px;
  left: 571px;
  margin-right: 6px;

  /* Body/Extra Small */

  // font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  /* light/gray-600 */

  color: #52555d;
}

.transfer_bridge_text {
  height: 20px;

  /* Label/Small */

  // font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;

  /* Dark_Gray_700 */

  color: #061024;
}

.transfer_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 24px;

  width: 100%;
  height: 54px;
  left: 432px;
  top: 694px;

  /* light/primary-500 */

  background: #7b3fe4;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  /* Button/Primary */

  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.08), inset 0px 1px 0.5px rgba(255, 255, 255, 0.16);
  border-radius: 12px;

  p {
    width: 63px;
    height: 24px;
    left: 200.5px;
    top: 15px;

    /* Label/Medium */

    // font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* Static/White */

    color: #ffffff;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
  }
}

/************************************* MODALS *********************************/

// MODAL 1
.modalFather {
  border-radius: 15px;
  width: 1000%;
}

.modalTitle {
  width: 50%;
}

.continueTrasferButton {
  margin-top: 12px;
  border-radius: 12px;
  align-self: flex-end;
  width: 100%;
  background-color: $light-primary-500;
  color: #fff;
  padding: 15px;
  margin-bottom: 12px;
}

.estimationFee {
  margin-top: 24px;
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__main {
      font-size: large;
      font-weight: bold;
    }

    &__light {
      font-size: medium;
      color: $light-gray-600;
    }
  }
}

.transferModeModal {
  margin-top: 24px;
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__main {
      font-size: large;
      font-weight: bold;
    }

    &__light {
      font-size: medium;
      color: $light-gray-600;
    }
  }

  &__text {
    font-size: small;
    text-align: start;
  }
}

.divider {
  margin-top: 30px;
  border-bottom: solid 1px #ddd;
}

.modal {
  border-radius: 15px;
}

.modalBody {
  flex-direction: column;
  text-align: center;
  padding: 10px;

  .tokenDetails {
    &__val {
      margin-top: 20px;
      font-size: x-large;
      font-weight: bold;
    }

    &__usd {
      margin-top: 10px;
      color: $light-gray-600;
      font-size: small;
    }
  }

  .networkButtons {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;

    &__button1 {
      padding: 10px;
      background-color: #bbb6f363;
      border-radius: 15px;
      margin-right: 15px;
      width: 70%;
    }

    &__button2 {
      padding: 10px;
      background-color: #b7b1f5ad;
      border-radius: 15px;
      margin-left: 15px;
      width: 70%;
    }
  }
}

.sendModal {
  input {
    width: 100%;
    border: 1px solid $light-gray-500;
    height: 40px;
    border-radius: 10px;
  }

  p {
    text-align: start;
    font-size: small;
    color: $light-gray-500;
    margin-top: 10px;
  }

  .balanceText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        &:first-child {
          margin-right: 5px;
        }
      }
    }
  }

  .sendModalfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 90px;

    p {
      margin-left: 5px;
      font-size: medium;
    }
  }
}

.sendModalBalance {
  margin-top: 50px;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  border: solid 1px $light-gray-500;
  height: 60px;
  border-radius: 10px;
  padding: 5px;
  width: 100%;

  input {
    border: none;
    width: 50%;
    padding: 0 10px;
    ::placeholder {
      color: $light-gray-900;
    }
  }

  .letfItems {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;

    .maxButton {
      color: $light-primary-500;
      font-weight: 600;
      font-size: small;
      padding: 5px;

      &:hover {
        cursor: pointer;
        background-color: $light-gray-200;
        border-radius: 5px;
      }
    }
  }

  .rightItems {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    height: 50px;
    border-radius: 10px;
    padding: 10px;

    &:hover {
      cursor: pointer;
      background-color: #ddd;
    }
  }
}

.warning {
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 5px;

  img {
    height: 24px;
    width: 24;

    margin: 16px 9px 16px 16px;
  }

  p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: red;

    // margin-top: 18px;
  }
}
