.s-modal{
  width: 446px;
  height: 588px;
  color: dark-color('700');
  display: flex;
  flex-direction: column;
  overflow:hidden;

  @media (max-width:446px){
    height: calc(100vh - #{$navbar-local-height});
    width:100%;
  }

  .box-header {
    flex-basis: 88px;
    height: 88px;

    .left-arrow,
    .right-arrow {
      height: 24px;
      width: 24px;
    }

    .right-arrow {
      margin-top: -2px;
    }

    .modal-step-title {
      line-height: 1.5rem;
    }

    @media (max-width: 446px){
      flex-basis: 50px;
      height: 50px;
    }
  }

  .overview-header {
    padding: 32px !important;
  }

  .network-icon {
    height: 24px;
    width: 24px;
  }

  .box-body{
    flex-basis:auto;
    height: calc(100% - 88px);
    .container{
      height: 100%;
      display: block;

      &.flex{
        display:flex;
      }
    }
    @media (max-width: 446px){
      height: calc(100% - 65px);
    }

    .token-details {
      &__img {
        background-color: light-color('500');
        box-sizing: border-box;
        border-radius: 50%;
        height: 44px;
        width: 44px;

        img {
          width: 100%;
        }
      }

      &__val {
        line-height: 29px;
      }

      &__usd {
        line-height: 20px;
      }
    }

    .pill {
      height: 42px;
      border-radius: 13px;

      &.ethereum-pill {
        background-color: supportive-color('100');
      }
      &.matic-pill {
        background-color: primary-color('200');
      }
    }

    button {
      width: 45%;
    }

    .continue-button {
      line-height: 145%;
    }

    .logo-wrapper-bottom {
      padding-top: 52px;
      padding-bottom: 28px;
    }

    .modal-body-content{
      height: auto;
      padding-bottom:20px;
      width:100%;
    }
  }
}

.new-modal{
  &__container{
    height: 100%;
    display:flex;
    flex-direction: column;
    // flex-wrap: nowrap;
    justify-content: space-between;

    // this is used only for a special case inside depositmodal
    &--sub{
      height: calc(100% - 120px);
      display:flex;
      flex-direction: column;

      .new-modal__fixed-section{
        padding-bottom:10px;
      }
    }
  }

  &__scroll-section{
    flex-basis: auto;
    height:auto;
    padding-bottom:10px;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 4px;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: dark-color('100');
      border-radius: 8px;
    }
  }

  &__fixed-section{
    flex-basis:auto;
    height:auto;
    border-top: 1px solid #dee2e6;
  }
}
