{
  "extends": "./node_modules/cod-scripts/eslint.js",
  "rules": {
    "no-underscore-dangle": "off",
    "no-console": "off",
    "import/extensions": "off",
  },
  "globals": {
    "BigInt": "true"
  },
  "env": {
    "mocha": true
  }
}
