node_modules/*
**/node_modules/*
**/migrations/*
**/doc/*
cli/build/*
wallet/cli/*
wallet/src/components/Assets/
test/adversary/nightfall-adversary/*
/**/*.d.ts
**/build/*
hardhat.*
typechain-types/
config/geth/data
backup/
