node_modules/*
**/node_modules/*
**/migrations/*
**/doc/*
mumbai/
proving_files/
cli/build/*
wallet/cli/*
mumbai/
wallet/src/components/Assets/
test/adversary/lazy-optimist/*
test/adversary/adversary-cli/*
test/adversary/adversary-code/*
test/adversary/bad-client/*
/**/*.d.ts
**/build/*
hardhat.*
typechain-types/
config/geth/data
backup/
coverage/
docker/volumes