.DS_Store
node_modules
cli/build
mumbai/
*.tar.gz
*.tar
.*swp
.vscode/*
.openzeppelin/
*.log
**/*.tmp
mumbai/
polygonpos/
# wallet
wallet/build
wallet/cli
__pycache__
test/adversary/lazy-optimist
test/adversary/bad-client
test/adversary/adversary-cli
wallet/tests/e2e/videos
wallet/tests/e2e/screenshots
typechain-types/
artifacts/
cache/
config/geth/data/
backup
docker/volumes

#hardhat coverage
coverage
coverage.json

multiproposer-test.env