@import '~/../../assets/css/theme/_theme';

.continueTrasferButton {
  margin-top: 12px;
  border-radius: 12px;
  align-self: flex-end;
  width: 100%;
  background-color: $light-primary-500;
  color: #fff;
  padding: 15px;
  margin-bottom: 12px;
}

.tokenDetails {

  &__val {
    margin-top: 20px;
    font-size: x-large;
    font-weight: bold;
  }

  &__usd {
    margin-top: 10px;
    color: $light-gray-600;
    font-size: small;
  }    
}

.networkButtons {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: small;

  &__button1 {
    padding: 10px;
    background-color: #bbb6f363;
    border-radius: 15px;
    margin-right: 15px;
    width: 70%;      
  }

  &__button2 {
    padding: 10px;      
    background-color: #b7b1f5ad;
    border-radius: 15px;
    margin-left: 15px;
    width: 70%;
  }
}

.estimationFee {
  
  margin-top: 24px;
  &__title {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &__main {
      font-size: large;
      font-weight: bold;
    }

    &__light {
      font-size: medium;
      color: $light-gray-600;
    }
  }
}

.transferModeModal {

  margin-top: 24px;
  &__title {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &__main {
      font-size: large;
      font-weight: bold;
    }

    &__light {
      font-size: medium;
      color: $light-gray-600;
    }
  }

  &__text {
    font-size: small;
    text-align: start;
  }

}