###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################

apiKey=05e19a2134d0457db13bcf8e374be5638cc75d939309425ea1e9b19a778286f6
#userKey is required if WhiteSource administrator has enabled "Enforce user level access" option
userKey=1686df3469404437a34164a5d4b6263d305c71bf1e2f4f3c9e874ddc2b635a76

projectName=nf3-worker
projectVersion=
projectToken=

productName=Token Service
productVersion=
productToken=

wss.url=https://vmey.whitesourcesoftware.com/agent

############
# Policies #
############
checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false

###########
# General #
###########
#offline=true
#updateType=APPEND
#scanComment=
#failErrorLevel=ALL
#requireKnownSha1=false
#fileSystemScan=false
#showProgressBar=false
#commandTimeout=900

#generateProjectDetailsJson=true
#generateScanReport=true
#scanReportTimeoutMinutes=10
#scanReportFilenameFormat=

#analyzeFrameworks=true
#analyzeFrameworksReference=

#updateEmptyProject=false

log.files.level=DEBUG
#log.files.maxFileSize=
#log.files.maxFilesCount=
#log.files.path=

########################################
# Package Manager Dependency resolvers #
########################################
resolveAllDependencies=false

npm.resolveDependencies=true
npm.ignoreSourceFiles=true
npm.includeDevDependencies=false 
npm.runPreStep=true
npm.ignoreNpmLsErrors=true
#npm.ignoreScripts=true
#npm.yarnProject=true
#npm.accessToken=
#npm.identifyByNameAndVersion=true
#npm.yarn.frozenLockfile=true
#npm.resolveMainPackageJsonOnly=true
#npm.removeDuplicateDependencies=false
#npm.resolveAdditionalDependencies=true
#npm.failOnNpmLsErrors =
#npm.projectNameFromDependencyFile = true
#npm.resolveGlobalPackages=true
npm.resolveLockFile=true

###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
#includes=

#Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
#excludes=

case.sensitive.glob=false
followSymbolicLinks=true

######################
# Archive properties #
######################
#archiveExtractionDepth=2
#archiveIncludes=**/*.war **/*.ear
#archiveExcludes=**/*sources.jar

##################
# Proxy settings #
##################
#proxy.host=
#proxy.port=
#proxy.user=
#proxy.pass=