@import '~/../../../assets/css/theme/_theme';

.learn-more {
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.bridgeComponent {
  display: flex;

  &__left {
    min-width: 270px;
    width: 15%;
  }

  &__right {
    width: 85%;
  }
}
.warningBanner {
  margin: 0 -15px;
}

.pagePartition {
  padding: 20px 0;
  display: flex;
  flex-direction: column-reverse;

  @media #{$lg-devices} {
    padding-top: 62px;
    flex-direction: row;
    justify-content: center;
  }
}

.infoWrapper {
  width: 100%;
  color: $light-gray-900;
  margin-top: 16px;
  //   light-700

  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(16px);
  border-radius: 20px;

  .innerWrapper {
    padding: 10px 20px 20px;

    @media #{$lg-devices} {
      padding: 32px;
    }
  }

  @media #{$lg-devices} {
    // max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px 0 0;
  }

  .bottomSection {
    display: none;

    @media #{$lg-devices} {
      display: flex;
      justify-content: center;
    }
  }

  .description {
    margin-top: 17px;
    max-width: 320px;
    opacity: 0.6;
    // font-body-small
    font-size: small;
  }
  .points {
    // font-label-medium d-flex flex-column
    font-size: medium;
    display: flex;
    flex-direction: column;
    margin-top: 41px;
    max-width: 304px;

    :not(:first-child) {
      margin-top: 12px;
    }

    .linkButton {
      color: $light-primary-500;
      // background: rgba(255, 255, 255, 0.1);
      outline: none;
      margin: 6px 0;
      // width: 188px;
      // padding: 11px 21px 11px 20px;
      // border: 1px solid $light-primary-500;

      border-radius: 38px;
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      cursor: pointer;

      @media #{$lg-devices} {
        width: fit-content;
      }

      // .right-arrow-white {
      //   height: 20px;
      //   width: 21px;
      //   margin-top: -2px;
      // }

      .infoIcon {
        height: 22px;
        width: 22px;
        margin-top: -2px;
        margin-right: 2px;
      }
    }

    .fastWithdraw {
      color: $light-primary-500;
      outline: none;
      margin: 6px 0;
      border-radius: 38px;
      cursor: pointer;

      @media #{$lg-devices} {
        width: fit-content;
      }

      .infoIcon {
        height: 22px;
        width: 22px;
        margin-top: -2px;
        margin-right: 2px;
      }

      // &fastWithdraw {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.errorMessage {
  margin-top: 8px;
  text-align: center;
}

.headerH2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.01em;
}
.fontLabelMedium {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

// overwriting design-system's component's classes. For TokenText component.

@media #{$sm-devices-down} {
  .tokenText {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5px 5px;

    // /deep/
    .tokenTextAmount {
      display: block;
      width: calc(100% - 50px);

      .input-field {
        width: 100%;

        &.size--large {
          padding-left: 10px;
        }
      }
    }

    .selectBox {
      width: 100%;
    }

    .maxButton {
      position: absolute;
      top: 10px;
      right: 0;
      width: 50px;
    }
  }
}

.transactionTabs {
  margin-right: 32px;
  padding: 0;
  border-radius: unset;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  height: 44px;
  background: unset;
  color: #7b3fe4;
  border-bottom: 2px solid #7b3fe4;
  display: flex;
}

.transactionRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: spaceBetween;
  border: 1px solid #dddfe0;
  box-sizing: borderBox;
  border-radius: 12px;
  margin: 0 0 8px;
  cursor: pointer;
}

.transactionDetails {
  padding: 20px;
  align-items: center;
  width: 58%;
  display: flex;
}

.etherscanLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  padding: 12px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dddfe0;
  box-sizing: border-box;
  box-shadow: 0 2px 2px -2px rgb(0 0 0 / 8%), inset 0 1px 0.5px hsl(0deg 0% 100% / 16%);
  border-radius: 8px;
}

.wrapperTabList {
  display: flex;
  justify-content: space-between;
}

.exportTransactionsButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  margin: 12px 35px 0;

  height: 38px;
  left: 432px;
  top: 694px;

  /* light/primary-500 */

  background: #7b3fe4;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  /* Button/Primary */
  border-radius: 12px;

  color: #fff;

  &:hover {
    background: #7635e6;
  }
}

.tab-list {
  padding: 21px 22px 0 24px;
  margin-bottom: -2px;
  display: flex;
}

.tab-list-item {
  cursor: pointer;
  margin-right: 32px;
  padding: 0;
  border-radius: unset;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  height: 44px;
}

.active {
  background: unset;
  color: #7b3fe4;
  border-bottom: 2px solid #7b3fe4;
  z-index: 1;
}

.separator {
  display: block;
  border: 1px solid #f7f7f8;
  width: 100%;
}
