@import '~/../../../assets/css/theme/_theme';

.withdrawDrop{
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #efe7fd;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}    

.withdraw-section {
  width: 100%;
  margin: 0;
  padding: 16px 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.btn-group {
  display: flex;
  column-gap: 5em;
  border-radius: 8px;
}

.withdraw-continue-btn {
  &:hover {
    background: #854ce6;
  }
  margin-top: 8px;
  display: flex;
  justify-content: right;
  color: #fff;
  background: #854ce6;
  border-radius: 8px;
  box-shadow: 0 0 2px rgb(0 0 0 / 16%), 0 1px 4px rgb(0 0 0 / 8%);
  align-items: center;
  border: 0;
  outline: none;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -1;
  height: 34px;
  padding: 7px 12px;
}

.withdraw-instant-btn {
  &:hover {
    background: #EA994E;
  }
  margin-top: 8px;
  display: flex;
  justify-content: right;
  color: #fff;
  background: #EA994E;
  border-radius: 8px;
  box-shadow: 0 0 2px rgb(0 0 0 / 16%), 0 1px 4px rgb(0 0 0 / 8%);
  align-items: center;
  border: 0;
  outline: none;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -1;
  height: 34px;
  padding: 7px 12px;
}