@import '~/../../../assets/css/theme/theme';

.itemInactive {  
  display: flex;  
  
  align-items: center;
  
  border-radius: 10px;
  width: 250px;
  height: 40px;
  padding: 0 20px;
  margin-top: 20px;
  color: #555;

  .itemText {
    margin-left: 20px;
  }
    
  font-size: medium;

  &:hover {    
    background-color: #eee;
  }

}

.itemActive {  
  display: flex;  
  
  align-items: center;
  background-color: #eee;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  padding: 0 20px;
  margin-top: 20px;
  color: #555;

  .itemText {
    margin-left: 20px;
  }

  svg {
    color: $light-primary-500;
  }
    
  font-size: medium;

  &:hover {    
    background-color: #eee;
  }

}