@import '~/../../../assets/css/theme/_theme';

.learn-more {
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.warningBanner {
  margin: 0 -15px;
}

.blueBack {
  min-height: calc(100vh - #{$navbar-local-height});
  background-color: primary-color('600');
  background-image: import('~/src/assets/img/bridge-bg.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 250px;

  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0%,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(211.99deg, rgba(65, 157, 241, 0.2) -4.17%, rgba(45, 143, 234, 0) 68.7%),
    radial-gradient(100% 100% at 28.65% 0%, #d5bdf5 0%, rgba(250, 247, 254, 0) 100%);
}

.pagePartition {
  padding: 20px 0;
  display: flex;
  flex-direction: column-reverse;

  @media #{$lg-devices} {
    padding-top: 62px;
    flex-direction: row;
    justify-content: center;
  }
}

.infoWrapper {
  width: 100%;
  color: $light-gray-900;
  margin-top: 16px;
  //   light-700

  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(16px);
  border-radius: 20px;

  .innerWrapper {
    padding: 10px 20px 20px;

    @media #{$lg-devices} {
      padding: 32px;
    }
  }

  @media #{$lg-devices} {
    // max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px 0 0;
  }

  .bottomSection {
    display: none;

    @media #{$lg-devices} {
      display: flex;
      justify-content: center;
    }
  }

  .description {
    margin-top: 17px;
    max-width: 320px;
    opacity: 0.6;
    // font-body-small
    font-size: small;
  }
  .points {
    // font-label-medium d-flex flex-column
    font-size: medium;
    display: flex;
    flex-direction: column;
    margin-top: 41px;
    max-width: 304px;

    :not(:first-child) {
      margin-top: 12px;
    }

    .linkButton {
      color: $light-primary-500;
      // background: rgba(255, 255, 255, 0.1);
      outline: none;
      margin: 6px 0;
      // width: 188px;
      // padding: 11px 21px 11px 20px;
      // border: 1px solid $light-primary-500;

      border-radius: 38px;
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      cursor: pointer;

      @media #{$lg-devices} {
        width: fit-content;
      }

      // .right-arrow-white {
      //   height: 20px;
      //   width: 21px;
      //   margin-top: -2px;
      // }

      .infoIcon {
        height: 22px;
        width: 22px;
        margin-top: -2px;
        margin-right: 2px;
      }
    }

    .fastWithdraw {
      color: $light-primary-500;
      outline: none;
      margin: 6px 0;
      border-radius: 38px;
      cursor: pointer;

      @media #{$lg-devices} {
        width: fit-content;
      }

      .infoIcon {
        height: 22px;
        width: 22px;
        margin-top: -2px;
        margin-right: 2px;
      }

      // &fastWithdraw {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.bridgeWrapper {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(16px);
  border-radius: 20px;

  @media #{$lg-devices} {
    max-width: 540px;
    padding: 32px;
    margin: 0 0 0 10px;
  }

  .bridgeTabs {
    display: flex;
    padding: 4px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    position: relative;

    /* This is the active tab indicator. It swithces its position and places itself below the active tab.. */
    &:after {
      content: '';
      position: absolute;
      height: 36px;
      /* width of the active tab indicator should be equal to the width of the tab. The calculation below removes 8px (4px padding from either sides) from 100% and divides the value by 2. */
      width: calc((100% - 8px) / 2);
      top: 4px;
      left: 4px;
      background: $light-gray-100;
      z-index: 1;
      box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.08),
        inset 0px 1px 0.5px rgba(255, 255, 255, 0.16);
      border-radius: 8px;
      transition: 0.3s ease-in;
    }

    &__withdrawActive {
      &:after {
        left: 50%;
      }
    }

    &__tab {
      width: 100%;
      padding: 6px;
      text-align: center;
      cursor: pointer;
      position: relative;
      z-index: 2;
    }
  }
}

.bridgeBody {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: $light-gray-100;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  margin-top: 16px;

  .fromLabel {
    @extend .headerH6 !optional;
  }

  .fromSection {
    border: 1px solid $light-gray-300;
    border-radius: 12px;
    margin-top: 8px;

    .chainAndBalanceDetails {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .chainDetails {
        display: flex;
        align-items: center;

        &__chainName {
          margin-left: 8px;
          //font-label-small
          font-size: small;
          font-weight: bold;
        }
      }

      .balanceDetails {
        // font-label-extra-small
        font-size: small;

        &__label {
          margin-right: 4px;
          color: $light-gray-500;
        }
      }
    }

    .tokenAndAmountDetails {
      border-top: 1px solid $light-gray-300;
      display: flex;
      align-items: center;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;

      .tokenDetails {
        padding: 20px 16px;
        width: 50%;
        border-right: 1px solid $light-gray-300;
        display: flex;
        flex-direction: column;
        align-items: center;

        cursor: pointer;

        @media #{$lg-devices} {
          flex-direction: row;
          width: unset;
          max-width: 50%;
        }

        &__tokenImg {
          height: 24px;
          width: 24px;
        }

        &__tokenName {
          margin-left: 8px;
          text-align: left;
          white-space: nowrap;
          width: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &__arrow {
          display: none;
          margin-left: 8px;

          @media #{$lg-devices} {
            display: block;
          }
        }
      }

      .amountDetails {
        border-left: 1px solid $light-gray-300;
        margin-left: -1px;
        // padding: 20px 16px;
        display: flex;
        align-items: center;
        width: 60%;

        @media #{$lg-devices} {
          width: 100%;
        }

        &__textfield {
          max-width: none;
          line-height: 64px;
          padding: 0 0 0 16px;
          border: unset;
          width: 100%;
          outline: none;
          border-radius: 12px;
        }

        &__maxButton {
          margin-right: 10px;
          color: $light-primary-500;
          font-weight: 600;
          font-size: small;

          :hover {
            background-color: #ddd;
          }
        }
      }
    }
  }

  .downArrowSection {
    margin-top: 8px;
    text-align: center;
  }

  .toLabel {
    margin-top: 8px;
    @extend .headerH6 !optional;
  }

  .toChainAndBalanceDetails {
    margin-top: 8px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $light-gray-200;
    border-radius: 12px;

    .chainDetails {
      display: flex;
      align-items: center;
      font-size: small;

      &__chainName {
        margin-left: 8px;
        //font-label-small
        font-size: small;
        font-weight: bold;
      }
    }

    .balanceDetails {
      // font-label-extra-small
      font-size: small;

      &__label {
        margin-right: 4px;
        color: $light-gray-500;
      }
    }
  }
}

.transferMode {
  margin-top: 36px;
  //   font-body-small text-center
  text-align: center;
  font-size: small;

  &__label {
    color: $light-gray-600;
  }

  .switchBridge {
    padding: 2px 5px;
    background: $light-gray-500;
    border-radius: 4px;
    color: $light-gray-100;
    line-height: 16px;
    box-shadow: none;
    margin-left: 4px;
  }
}

.transferButton {
  margin-top: 36px;
  border-radius: 12px;
  align-self: flex-end;
  width: 100%;
  background-color: $light-primary-500;
  color: #fff;
  padding: 15px;
}

.errorMessage {
  margin-top: 8px;
  text-align: center;
}

.headerH2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.01em;
}
.fontLabelMedium {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

// overwriting design-system's component's classes. For TokenText component.

@media #{$sm-devices-down} {
  .tokenText {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5px 5px;

    // /deep/
    .tokenTextAmount {
      display: block;
      width: calc(100% - 50px);

      .input-field {
        width: 100%;

        &.size--large {
          padding-left: 10px;
        }
      }
    }

    .selectBox {
      width: 100%;
    }

    .maxButton {
      position: absolute;
      top: 10px;
      right: 0;
      width: 50px;
    }
  }
}
