.amount_value {    

  width: 100%;
  height: 32px;
  
  /* Header/H3 */
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  
  letter-spacing: -0.01em;

  /* light/gray-900 */

  color: #0A0B0D;
  border: 0px;
  margin: 18px 17px;

  &:focus {
    outline: none;
  }

  direction: ltr !important;
}