.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.modal-content {
  margin: 10% auto;
  width: 400px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-footer h3 {
  margin: 0;
  color: #000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  background: var(--modal-color);
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: black;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/************************************* MODALS *********************************/
@import '~/../../../../../assets/css/theme/_theme';

// MODAL 1
.modalFather {
  border-radius: 15px;
  width: 1000%;
}

.modalTitle {
  width: 50%;
}

.continueTrasferButton {
  margin-top: 12px;
  border-radius: 12px;
  align-self: flex-end;
  width: 100%;
  background-color: $light-primary-500;
  color: #fff;
  padding: 15px;
  margin-bottom: 12px;
}

.estimationFee {
  margin-top: 24px;
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__main {
      font-size: large;
      font-weight: bold;
    }

    &__light {
      font-size: medium;
      color: $light-gray-600;
    }
  }
}

.transferModeModal {
  margin-top: 24px;
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__main {
      font-size: large;
      font-weight: bold;
    }

    &__light {
      font-size: medium;
      color: $light-gray-600;
    }
  }

  &__text {
    font-size: small;
    text-align: start;
  }
}

.divider {
  margin-top: 30px;
  border-bottom: solid 1px #ddd;
}

.modal {
  border-radius: 15px;
}

.modalBody {
  flex-direction: column;
  text-align: center;
  padding: 10px;

  .tokenDetails {
    &__val {
      margin-top: 20px;
      font-size: x-large;
      font-weight: bold;
    }

    &__usd {
      margin-top: 10px;
      color: $light-gray-600;
      font-size: small;
    }
  }

  .networkButtons {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;

    &__button1 {
      padding: 10px;
      background-color: #bbb6f363;
      border-radius: 15px;
      margin-right: 15px;
      width: 70%;
    }

    &__button2 {
      padding: 10px;
      background-color: #b7b1f5ad;
      border-radius: 15px;
      margin-left: 15px;
      width: 70%;
    }
  }
}

.sendModal {
  input {
    width: 100%;
    border: 1px solid $light-gray-500;
    height: 40px;
    border-radius: 10px;
  }

  p {
    text-align: start;
    font-size: small;
    color: $light-gray-500;
    margin-top: 10px;
  }

  .balanceText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        &:first-child {
          margin-right: 5px;
        }
      }
    }
  }

  .sendModalfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 90px;

    p {
      margin-left: 5px;
      font-size: medium;
    }
  }
}

.sendModalBalance {
  margin-top: 50px;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  border: solid 1px $light-gray-500;
  height: 60px;
  border-radius: 10px;
  padding: 5px;
  width: 100%;

  input {
    border: none;
    width: 50%;
    padding: 0 10px;
    ::placeholder {
      color: $light-gray-900;
    }
  }

  .letfItems {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;

    .maxButton {
      color: $light-primary-500;
      font-weight: 600;
      font-size: small;
      padding: 5px;

      &:hover {
        cursor: pointer;
        background-color: $light-gray-200;
        border-radius: 5px;
      }
    }
  }

  .rightItems {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    height: 50px;
    border-radius: 10px;
    padding: 10px;

    &:hover {
      cursor: pointer;
      background-color: #ddd;
    }
  }
}
