version: '3.5'
# Use this script for making nightfall_3 use stubs.
services:
  proposer:
    image: ghcr.io/eyblockchain/nightfall3-proposer:latest
    build:
      dockerfile: docker/proposer.Dockerfile
      context: ..
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    ports:
      # to use with postman and etc
      - 8092:8092
    environment:
      AUTOSTART_RETRIES: ${AUTOSTART_RETRIES:-100}
      BLOCKCHAIN_WS_HOST: ${BLOCKCHAIN_WS_HOST:-blockchain}
      BLOCKCHAIN_PORT: ${BLOCKCHAIN_PORT:-8546}
      CLIENT_HOST: ${CLIENT_HOST:-client}
      CLIENT_PORT: ${CLIENT_PORT:-8080}
      ENABLE_QUEUE: ${ENABLE_QUEUE:-1}
      ENVIRONMENT: ${ENVIRONMENT:-localhost}
      LOG_LEVEL: ${LOG_LEVEL:-debug}
      LOG_HTTP_PAYLOAD_ENABLED: ${LOG_HTTP_PAYLOAD_ENABLED:-true}
      LOG_HTTP_FULL_DATA: ${LOG_HTTP_FULL_DATA:-false}
      OPTIMIST_HOST: ${OPTIMIST_HOST:-optimist}
      OPTIMIST_PORT: ${OPTIMIST_PORT:-80}
      OPTIMIST_WS_PORT: ${OPTIMIST_WS_PORT:-8080}
      PROPOSER_HOST: ${PROPOSER_HOST:-proposer}
      PROPOSER_PORT: ${PROPOSER_PORT:-8092}
      GAS_ESTIMATE_ENDPOINT: ${GAS_ESTIMATE_ENDPOINT}
      BLOCKCHAIN_URL: ${BLOCKCHAIN_URL:-ws://blockchain:8546}
      ETH_PRIVATE_KEY: ${ETH_PRIVATE_KEY}
      PROPOSER_KEY: "${PROPOSER_KEY:-$ETH_PRIVATE_KEY}"
      CHALLENGER_KEY: "${CHALLENGER_KEY:-$ETH_PRIVATE_KEY}"
    networks:
      - nightfall_network
    volumes:
      - type: bind
        source: ../apps/proposer/src
        target: /app/src
        
  challenger:
    build:
      dockerfile: docker/challenger.Dockerfile
      context: ..
    image: ghcr.io/eyblockchain/nightfall3-challenger:latest
    ports:
      # to use with postman and etc
      - 8192:8192
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    environment:
      ENVIRONMENT: ${ENVIRONMENT:-localhost}
      LOG_LEVEL: ${LOG_LEVEL:-debug}
      LOG_HTTP_PAYLOAD_ENABLED: ${LOG_HTTP_PAYLOAD_ENABLED:-true}
      LOG_HTTP_FULL_DATA: ${LOG_HTTP_FULL_DATA:-false}
      BLOCKCHAIN_WS_HOST: ${BLOCKCHAIN_WS_HOST:-blockchain}
      BLOCKCHAIN_PORT: ${BLOCKCHAIN_PORT:-8546}
      ENABLE_QUEUE: ${ENABLE_QUEUE:-1}
      OPTIMIST_HOST: ${OPTIMIST_HOST:-optimist}
      OPTIMIST_PORT: ${OPTIMIST_PORT:-80}
      OPTIMIST_WS_PORT: ${OPTIMIST_WS_PORT:-8080}
      CLIENT_HOST: ${CLIENT_HOST:-client}
      CLIENT_PORT: ${CLIENT_PORT:-8080}
      CHALLENGER_PORT: ${CHALLENGER_PORT}
      GAS_ESTIMATE_ENDPOINT: ${GAS_ESTIMATE_ENDPOINT}
      BLOCKCHAIN_URL: ${BLOCKCHAIN_URL:-ws://blockchain:8546}
      ETH_PRIVATE_KEY: ${ETH_PRIVATE_KEY}
      PROPOSER_KEY: "${PROPOSER_KEY:-$ETH_PRIVATE_KEY}"
      CHALLENGER_KEY: "${CHALLENGER_KEY:-$ETH_PRIVATE_KEY}"
    networks:
      - nightfall_network
    volumes:
      - type: bind
        source: ../apps/challenger/src
        target: /app/src

networks:
  nightfall_network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.238.0/24
          gateway: 172.16.238.1
