version: '3.5'
# Use this script for running up nightfall_3 in 'developer' mode with local
# bindings and using a Ganache private blockchain.  See the readme for more information.
# It acts as an override file for docker-compose.yml
services:
  blockchain:
    image: trufflesuite/ganache-cli:v6.12.1
    ports:
      - 8546:8546
    command:
      ganache-cli --accounts=10 --defaultBalanceEther=1000 --gasLimit=0x3B9ACA00 --deterministic -i 1337 -p 8546 -b 1
      --account="0x4775af73d6dc84a0ae76f8726bda4b9ecf187c377229cb39e1afa7a18236a69e,10000000000000000000000"
      --account="0x4775af73d6dc84a0ae76f8726bda4b9ecf187c377229cb39e1afa7a18236a69d,10000000000000000000000"
      --account="0xd42905d0582c476c4b74757be6576ec323d715a0c7dcff231b6348b7ab0190eb,10000000000000000000000"
      --account="0xfbc1ee1c7332e2e5a76a99956f50b3ba2639aff73d56477e877ef8390c41e0c6,10000000000000000000000"
    networks:
      - nightfall_network
