@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/bootstrap';
@import 'font-awesome/css/font-awesome.min.css';
@import 'bootstrap-social/bootstrap-social.css';

@import '../src/assets/css/main.scss';
// @import './index.css';
// @import '../src/views/app.style.css';

// For the initial page
@import '../src/views/initialPage/initial.scss';

// For the wallet page
@import '../src/views/wallet/wallet.scss';
@import '../src/styles/assets.scss';
@import '../src/styles/tokenItem.scss';
@import '../src/styles/tokens.scss';

// For the header
@import '../src/components/Header/accountDetails.scss';
@import '../src/components/Header/header.scss';
@import '../src/components/Header/logo.scss';
@import '../src/components/Header/menuItem.scss';
@import '../src/components/Header/navItems.scss';

// For the sidebar
@import '../src/components/SideBar/index.scss';
@import '../src/components/SideBar/sideItem.scss';

// For the bridge page
@import './views/bridge/styles.scss';
@import '../src/components/BridgeComponent/styles.scss';

// For Modals
@import './styles/modal.scss';

// // For the Tokens Modal in the Bridge Page when the user click to select other token
// @import './components/Modals/Bridge/TokensList/styles.scss';

// For the transaction page
@import '../src/views/transactionPage/styles.scss';

// For transaction component
@import '../src/components/Transactions/index.scss';
@import '../src/components/Transactions/withdraw.scss';

// For the toast
@import 'react-toastify/dist/ReactToastify.css';
