.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

@media (min-width: 768px) {
  .app {
    display: grid;
    grid-template-columns: max(270px, 15%) 1fr;
    background: #fff;
  }

  .app__header {
    grid-column: 1 / 3;
  }

  .app__sidebar {
    grid-column: 1 / 2;
  }

  .app__main {
    grid-column: 2 / 3;
  }
}
