// @import "./font.scss";

//
// Font
//

// font family
$font-family-base: "Roobert", sans-serif;

// font weights
$font-weights: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "heavy": 800,
);

@function font-weight($base) {
  @return map-get($font-weights, $base);
}

// font sizes
$font-sizes: (
  "caps": 12px,
  "caption": 12px,
  "body-small": 0.875rem,
  "body-medium": 1rem,
  "body-large": 1.125rem,
  "heading-small": 1rem,
  "heading-medium": 1.125rem,
  "heading-large": 1.5rem,
);

$font-display-sizes-lg: (
  "display-medium": 48px,
  "display-large": 64px,
  "extra-large": 96px,
);

$font-display-sizes-sm: (
  "display-medium": 24px,
  "display-large": 36px,
  "extra-large": 48px,
);

@function font-size($base) {
  @if map-has-key($font-display-sizes-lg, $base) {
    @return map-get($font-display-sizes-lg, $base);
  }

  @return map-get($font-sizes, $base);
}

// line heights
$line-heights: (
  "caps": 16px,
  "caption": 16px,
  "body-small": 1.25rem,
  "body-medium": 1.5rem,
  "body-large": 1.75rem,
  "heading-small": 1.25rem,
  "heading-medium": 1.5rem,
  "heading-large": 2rem,
  "display-medium": 110%,
  "display-large": 110%,
  "extra-large": 110%,
);

@function line-height($base) {
  @return map-get($line-heights, $base);
}

// font setting for font sizes
@mixin font-setting($base, $weight: null) {
  font-size: font-size($base);
  line-height: line-height($base);
  @if ($weight) {
    font-weight: font-weight($weight);
  }
}

//
// Colors
//

// polygon colours
$primary-colors: (
  "700": #601fcd,
  "600": #854ce6,
  "500": #9d6cee,
  "400": #b38fef,
  "300": #d0b8f9,
  "200": #e0cffc,
  "100": #efe7fd,
);

// matic colours
// $primary-colors: (
//   "700": #002b80,
//   "600": #003cb2,
//   "500": #2b6def,
//   "400": #558af2,
//   "300": #aac5f9,
//   "200": #d5e2fc,
//   "100": #eaf0fd,
// );

@function primary-color($base) {
  @return map-get($primary-colors, $base);
}

$red-colors: (
  "700": #752522,
  "600": #8c2822,
  "500": #de524c,
  "400": #e77975,
  "300": #f0a9a7,
  "200": #f9e3e2,
  "100": #fcf2f2,
);

@function red-color($base) {
  @return map-get($red-colors, $base);
}

@function danger-color($base) {
  @return map-get($red-colors, $base);
}

$yellow-colors: (
  "700": #823218,
  "600": #a85325,
  "500": #e7b549,
  "400": #f5da72,
  "300": #f9e593,
  "200": #fdf3c9,
  "100": #fefbec,
);

@function yellow-color($base) {
  @return map-get($yellow-colors, $base);
}

@function warning-color($base) {
  @return map-get($yellow-colors, $base);
}

$green-colors: (
  "700": #00565b,
  "600": #00686e,
  "500": #24a8af,
  "400": #61c0c5,
  "300": #9ad7da,
  "200": #e0f2f3,
  "100": #eef8f9,
);

@function green-color($base) {
  @return map-get($green-colors, $base);
}

@function success-color($base) {
  @return map-get($green-colors, $base);
}

$light-colors: (
  "700": #ffffff,
  "600": #f8f9fa,
  "500": #f3f4f7,
  "400": #e7e9ee,
  "300": #dcdfe6,
  "200": #cfd4dd,
  "100": #b7bfcc,
);

@function light-color($base) {
  @return map-get($light-colors, $base);
}

$dark-colors: (
  "900": #000000,
  "700": #061024,
  "600": #202a3d,
  "500": #3b465c,
  "400": #545f76,
  "300": #6e798f,
  "200": #8690a5,
  "100": #9fa8ba,
);

@function dark-color($base) {
  @return map-get($dark-colors, $base);
}

$supportive-colors: (
  "700": #2517c2,
  "600": #3828e0,
  "500": #493af0,
  "400": #7165f3,
  "300": #b8b2f9,
  "200": #dbd9fc,
  "100": #edecfe,
);

@function supportive-color($base) {
  @return map-get($supportive-colors, $base);
}

//
// theme colors
//

$theme-colors: (
  "primary": primary-color("600"),
  "secondary": red-color("600"),
  "success": green-color("600"),
  "info": primary-color("600"),
  "danger": red-color("600"),
  "warning": yellow-color("600"),
  "light": light-color("700"),
  "dark": dark-color("700"),
);

@function theme-color-with-weight($base, $weight) {
  $theme-color-bases: (
    "primary": primary-color($weight),
    "secondary": red-color($weight),
    "success": green-color($weight),
    "info": primary-color($weight),
    "danger": red-color($weight),
    "warning": yellow-color($weight),
    "light": light-color($weight),
    "dark": dark-color($weight),
  );

  @return map-get($theme-color-bases, $base);
}

//
// Other colors
//

$link-color: primary-color("600");
$caption-color: dark-color("200");
$disable-color: dark-color("300");
$text-muted: dark-color("500");
$body-bg: light-color("600");
$body-color: light-color("700");

// Border radius
$border-radius-sm: 0.2rem;
$border-radius: 0.3rem;
$border-radius-lg: 0.4rem;
$border-radius-xl: 0.5rem;

// box shadow
$box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.22);

$badge-padding-y: 0.3em;
$badge-padding-x: 0.4em;

// navbar height
$navbar-local-height: 80px;
$navbar-second-local-height: 68px;

// left navigation menu width
$left-nav-width: 260px;
// and related media query (leftNav:260px + lgDevices: 992px)
$lg-devices-with-leftnav: "(min-width: 1252px)";

// svg icon size
$svg-icon-size: 16px;

// breadcrumb
$breadcrumb-divider: none;

// padding sizes
$paddingSizes: 0, 1, 2, 4, 6, 8, 10, 12, 13, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 29, 30, 32, 34, 36, 38, 40, 42, 44,
  50, 54, 60, 66, 70, 72, 76, 80, 84, 86, 100, 116, 120;

$paddingTypes: (
  "ps": "padding",
  "ms": "margin",
);

// Media queries constraines for devices

// Extra small devices (portrait phones, less than 576px)
$xs-devices: "(max-width: 575.98px)";
// Small devices (phones, less than 768px)
$sm-devices-down: "(max-width: 767.98px)";
// Small devices (landscape phones, 576px and up)
$sm-devices: "(min-width: 576px)";
// Medium devices (tablets, 768px and up)
$md-devices: "(min-width: 768px)";
// Large devices (desktops, 992px and up)
$lg-devices: "(min-width: 992px)";
// Extra large devices (large desktops, 1200px and up)
$xl-devices: "(min-width: 1200px)";

//
// Mixins
//

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// new design system colours

$static-black: #0a0b0d;

$light-gray-900: #0a0b0d;
$light-gray-700: #292c34;
$light-gray-600: #52555d;
$light-gray-500: #b0b4bb;
$light-gray-300: #dddfe0;
$light-gray-200: #f7f7f8;
$light-gray-100: #ffffff;

$light-primary-500: #7b3fe4;
$light-primary-200: #eae0fb;

$dark-gray-700: #061024;


.header-h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.01em;
}
.header-h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
}
.header-h6 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
.font-label-medium {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.font-label-small {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.font-label-extra-small {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.font-body-extra-small {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.cap-xs {
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}
