@import '~/../../../assets/css/theme/_theme';

$light-gray-100: #ffffff;


a {
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.wallet {
  width: 100%;    
  min-height: calc(100vh - #{$navbar-local-height});
  background: $light-gray-100;
  

  .walletComponents {
    
    display: flex;

    &__left {
      min-width: 270px;
      width: 15%;
    }

    &__right {
      
      width: 85%;
    }
  }
}

@media (max-width:350px){
	.wallet {
    .walletComponents {          
      flex-direction: column;

      &__left {
        min-width: 0px;
        width: 0%;
      }

      &__right {
        
        width: 100%;
      }
    }
  }
}

@media (max-width:768px){
  .wallet {
    .walletComponents {        
    flex-direction: column;

    &__left {
      min-width: 0px;
      width: 0%;
    }

    &__right {
      
      width: 100%;
    }
  }
  }
}

