@import '~/../../../assets/css/theme/theme';

.sideBar{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;  
  min-height: calc(90vh - #{$navbar-local-height});
  
}
.sideItems {  
  display: flex;
  flex-direction: column;
  padding: 0 10px 200px;  
}

.links    {  
  display: flex;  
  
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  padding: 0 20px;
  margin-left: 10px;
  color: #555;

  .linkText {
    margin-left: 20px;
  }


  font-size: medium;

  &:hover {    
    background-color: #eee;
    cursor: pointer;
  }

}