.modal-wrapper  {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 20px !important;
  max-height: 600px;   
}

.modal-header {
  padding: 12px 32px;
}

.modal-body {
  overflow: auto;  
}

.tokens_itens_modal_header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  
}

.tokens_itens_modal_title {
  left: 17.08%;
  right: 16.18%;
  top: 36.36%;
  bottom: 36.36%;

  margin: 32px 0;

  /* Header/H5 */

  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;  
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.01em;

  /* Dark_Gray_700 */

  color: #061024;
}

.input_search_title {
  
  height: 44px;    
  width: 100%;
  padding: 24px 32px;
  /* Header/H2 */
  
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;  
  
  /* identical to box height, or 122% */
  
  letter-spacing: -0.01em;
  
  /* light/gray-900 */
  
  color: #0A0B0D;

  span {
    color: #7B3FE4;
  }
}

.input_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 32px;

  input {
    border: 0px;
    margin-left: 10px;

    &::placeholder {
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      /* identical to box height, or 171% */

      display: flex;
      align-items: flex-end;

      color: #000000;

      opacity: 0.5;
    }    

    &:focus {
      outline: none;
    }
  }
}

.tokens_list {
  padding-right: 24px;
}

.tokens_line {
  width: 100%;
  
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #F3F4F7;
  padding: 10px;

  &:hover {
    cursor: pointer;
    background: #ddd;
  }  
}

.tokens_line_div {
  display: flex;
  align-items: center;     
}

.tokens_line_div_img {
  margin-right: 12px;
    
  width: 40px;
  height: 40px;
}

.tokens_line_div_p {
  margin-top: 17px;
}