@import '~/../../../assets/css/theme/theme';

.navHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 15px;

  background-color: $light-gray-100;

  @media screen and (max-width: '1000px') {
    svg {
      width: 30px;
      height: 30px;

      &:hover {
        cursor: pointer;
        color: #ddd;
      }
    }
  }
}
