@import '~/../../../assets/css/theme/theme';

.menuBox {
  display: flex;
  align-items: center;
  color: $light-gray-900;
  
  svg {
    font-size: 36px; 
    margin-right: 4px;       
  }

  p {
    font-size: medium;
    font-weight: normal;
  }  

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  .menuBox {        
    svg {
      font-size: 24px;    
    }
  
    p {
      font-size: small;
      font-weight: normal;
    }
  }
}