@import '~/../../../assets/css/theme/_theme';

.box {
  box-shadow: 0 1px 4px rgba(0,0,0,.08);
  pointer-events: auto;
}
.s-modal {
  width: 446px;
  max-width: 480px;
  height: 588px;
  color: #061024;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.box-header {
  padding: 32px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
}

.modal-title {
  display: block;
  font-family: Roobert, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  line-height: 24px;
  pointer-events: auto;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.ps-x-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.ps-y-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.border-top {
  border-top: 1px solid #dee2e6!important;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
}

.close-btn {
  color: #000;
  &:hover {
    background-color: transparent;
  }
}

p {
  color: #6e798f;
  font-size: .875rem;
  line-height: 1.25rem;
  text-align: center!important;
}