@import '~/../../../assets/css/theme/theme';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 20px;
}

.boxLogo {
  display: flex;
  width: 35px;
  height: 35px;
}

.logoText {
  display: flex;

  .logoTitle {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: normal;  
    margin-left: 8px;
    margin-right: 8px;
    width: 100%; 
  }

  span {    
    font-size: 30px;
    margin-left: 2px;
    font-weight: lighter;
  }  
}

@media screen and (max-width: 900px) {
  .container {    
    margin: 0 5px;
  }
  
  .boxLogo {
    display: flex;
    width: 25px;
    height: 25px;
  }
  
  .logoText {
    display: flex;
  
    .logoTitle {
      font-size: 20px;
      font-weight: normal;
      letter-spacing: normal;  
      margin-left: 4px;
      margin-right: 4px;
      width: 100%; 
    }
  
    span {    
      font-size: 20px;
      margin-left: 2px;
      font-weight: lighter;
    }  
  }
}