@font-face {
  font-family: "Roobert";
  font-weight: 300;
  src: url("/fonts/roobert/Roobert-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roobert";
  font-weight: 400;
  src: url("/fonts/roobert/Roobert-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roobert";
  font-weight: 500;
  src: url("/fonts/roobert/Roobert-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roobert";
  font-weight: 600;
  src: url("/fonts/roobert/Roobert-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Roobert";
  font-weight: 700;
  src: url("/fonts/roobert/Roobert-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roobert";
  font-weight: 800;
  src: url("/fonts/roobert/Roobert-Heavy.ttf") format("truetype");
}
