@import '~/../../assets/css/theme/_theme';
.dashboardTopSection {
  padding-top: 45px;
  padding-bottom: 19px;
  display: flex;
  justify-content: space-around;

  @media #{$sm-devices} {
    padding-top: 61px;
    padding-bottom: 59px;
  }

  background-color: primary-color('600');
  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0%,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(211.99deg, rgba(65, 157, 241, 0.2) -4.17%, rgba(45, 143, 234, 0) 68.7%),
    radial-gradient(100% 100% at 28.65% 0%, #d5bdf5 0%, rgba(250, 247, 254, 0) 100%);

  .containerLeftSide {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .heading {
    color: rgba($static-black, 0.6);
    // font-body-small font-caps ms-b-6
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  .amount {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.01rem;
    color: $static-black;
    margin-bottom: 16px;
  }

  .linkButton {
    display: flex;
    margin: 0 0 26px 0;
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    outline: none;
    color: white;
    font-size: 16px;
    background: $light-gray-700;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    a {
      &:hover {
        text-decoration: none;
        outline: none;
        color: white;
      }
    }

    // .right-arrow-white {
    //   height: 20px;
    //   width: 21px;
    // }
  }

  .depositButton {
    padding: 10px 12px;
    font-size: 16px;
    background: $light-gray-700;
    color: white;
  }

  .sendButton {
    flex-grow: 1;
    box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.08), inset 0px 1px 0.5px rgba(255, 255, 255, 0.16);

    &:first-child {
      margin-right: 20px;

      @media #{$sm-devices} {
        margin-right: 12px;
      }
    }

    @media #{$sm-devices} {
      width: 120px;
      flex-grow: 0;
    }
  }

  .buttonsWrapper {
    display: flex;
    flex-direction: row !important;
    width: 270px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: #343a47;
      }

      svg {
        margin-right: 5px;
        font-size: x-large;
        font-weight: bold;
      }

      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.08),
        inset 0px 1px 0.5px rgba(255, 255, 255, 0.16);
      padding: 10px;

      &:first-child {
        margin-right: 20px;

        @media #{$sm-devices} {
          margin-right: 12px;
        }
      }

      @media #{$sm-devices} {
        width: 120px;
        flex-grow: 0;
      }
    }
  }

  .depositWrapper {
    background-color: #6433b9; // #change-colorupdate
    border-radius: 12px;

    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(16px);

    width: 100%;
    padding: 25px 27px;
    margin-top: 25px;

    @media #{$xl-devices} {
      width: 375px;
      margin-left: auto;
    }
  }

  .container {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    display: flex;
    flex-direction: column;

    @media #{$xl-devices} {
      max-width: 1140px !important;
      display: flex;
      flex-direction: row;
    }
  }

  // @media (min-width: 992px) {
  //   .container {
  //     position: relative;
  //   }
  // }

  // @media (max-width: 767px) {
  //   .buttons-wrapper {
  //     width: 100% !important;
  //     button {
  //       width: 49%;
  //     }
  //   }
  // }
}

:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}

.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

// .modal {
//   display: none;
//   position: fixed;
//   z-index: 1;
//   left: 0;
//   top: 0;
//   height: 100%;
//   width: 100%;
//   overflow: auto;
//   background-color: rgba(0, 0, 0, 0.5);
// }

// .modal-content {
//   margin: 10% auto;
//   width: 60%;
//   box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
//   animation-name: modalopen;
//   animation-duration: var(--modal-duration);
// }

// .modal-header h2,
// .modal-footer h3 {
//   margin: 0;
// }

// .modal-header {
//   background: var(--modal-color);
//   padding: 15px;
//   color: #fff;
//   border-top-left-radius: 5px;
//   border-top-right-radius: 5px;
// }

// .modal-body {
//   padding: 10px 20px;
//   background: #fff;
// }

// .modal-footer {
//   background: var(--modal-color);
//   padding: 10px;
//   color: #fff;
//   text-align: center;
//   border-bottom-left-radius: 5px;
//   border-bottom-right-radius: 5px;
// }

// .close {
//   color: #ccc;
//   float: right;
//   font-size: 30px;
//   color: #fff;
// }

// .close:hover,
// .close:focus {
//   color: #000;
//   text-decoration: none;
//   cursor: pointer;
// }

// @keyframes modalopen {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }

/****** NEW STYLES *******/

.qrcode {
  text-align: center;
}

.tokens_items_modal_header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tokens_items_modal_title {
  left: 17.08%;
  right: 16.18%;
  top: 36.36%;
  bottom: 36.36%;

  margin: 32px 0;

  /* Header/H5 */

  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.01em;

  /* Dark_Gray_700 */

  color: #061024;
}

.copyFooter {
  color: #fff;
  background-color: #854ce6;
  width: 100%;
  cursor: pointer;
  text-align: center;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}
.copyButton {
  color: #fff;
  background-color: #854ce6;
  display: block;
  width: 100%;
  border: 0 !important;
  cursor: pointer;
  outline: none;
  border: none;

  &:focus,
  &:active,
  &.focus,
  &.active,
  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: #854ce6;
    box-shadow: none !important;
    outline: none;
    border: none;
  }
}
.modal-90w {
  width: 90%;
}
