@import '~/../../assets/css/theme/_theme';
.dashboardTopSection {
  padding-top: 45px;
  padding-bottom: 19px;
  display: flex;
  justify-content: space-around;

  @media #{$sm-devices} {
    padding-top: 61px;
    padding-bottom: 59px;
  }

  background-color: primary-color('600');
  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0%,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(
      211.99deg,
      rgba(65, 157, 241, 0.2) -4.17%,
      rgba(45, 143, 234, 0) 68.7%
    ),
    radial-gradient(
      100% 100% at 28.65% 0%,
      #d5bdf5 0%,
      rgba(250, 247, 254, 0) 100%
    );

  .heading {
    color: rgba($static-black, 0.6);
    // font-body-small font-caps ms-b-6
    margin-bottom: 6px;
    text-transform: uppercase;    
  }

  .amount {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.01rem;
    color: $static-black;
    margin-bottom: 16px;
  }
  
  .linkButton {
    display: flex;
    margin: 0 0 26px 0;
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    outline: none;
    color: white;
    font-size: 16px;
    background: $light-gray-700;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    // .right-arrow-white {
    //   height: 20px;
    //   width: 21px;
    // }
  }

  .depositButton {
    padding: 10px 12px;
    font-size: 16px;    
    background: $light-gray-700;
    color: white;    
  }

  .sendButton {
    flex-grow: 1;
    box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.08),
      inset 0px 1px 0.5px rgba(255, 255, 255, 0.16);

    &:first-child {
      margin-right: 20px;

      @media #{$sm-devices} {
        margin-right: 12px;
      }
    }

    @media #{$sm-devices} {
      width: 120px;
      flex-grow: 0;
    }    
  }

  .buttonsWrapper {
    width: 270px;
    button {
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.08),
        inset 0px 1px 0.5px rgba(255, 255, 255, 0.16);
        padding: 10px;

      &:first-child {
        margin-right: 20px;

        @media #{$sm-devices} {
          margin-right: 12px;
        }
      }

      @media #{$sm-devices} {
        width: 120px;
        flex-grow: 0;
      }
    }
  }

  .depositWrapper {
    background-color: #6433b9; // #change-colorupdate
    border-radius: 12px;

    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(16px);

    width: 100%;
    padding: 25px 27px;
    margin-left: auto;

    @media #{$lg-devices} {
      width: 375px;
    }
  }

  .container {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    @media #{$xl-devices} {
      max-width: 1140px !important;
    }
  }

  // @media (min-width: 992px) {
  //   .container {
  //     position: relative;
  //   }
  // }

  // @media (max-width: 767px) {
  //   .buttons-wrapper {
  //     width: 100% !important;
  //     button {
  //       width: 49%;
  //     }
  //   }
  // }
}