@import '~/src/assets/css/theme/_theme';

.homepage {
  min-height: calc(100vh - #{$navbar-local-height});
  padding: 44px 0;
  text-align: center;

  .cardsContainer {
      display: flex;
      margin-top: 44px;
      align-items: center;
      justify-content: center;
      :hover {
        cursor: pointer;
      }

    .mcard {
      height: 350px;
      width: 306px;
      background: light-color('700');
      box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      margin: 0 auto 12px auto;
      padding: 24px 23px;      

      @media #{$lg-devices} {
        margin: 0 12px;
      }

      .desc {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        // ms-t-8
        margin-top: 8px;
        // text-gray-500 
        color: dark-color('500');
      }

      &.polyWallet {        
          margin: 24px 0 42px;
          height: 119px;
          width: 128px;        
      }
      &.polyBridge {        
          margin: 20px 0 38px;
          height: 128px;
          width: 119px;        
      }
      &.polyStaking {        
          margin: 20px 0 38px;
          height: 128px;
          width: 89px;        
      }
      &.polyWidgetDashboard {
        display: none;

        @media #{$lg-devices} {
          display: block;
        }
        
          margin: 16px 0 32px;
          height: 140px;
          width: 150px;        

        .tag {
          margin-top: 20px !important;
        }
      }

      .tag {
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: 16px;
        text-transform: uppercase;
        color: primary-color('600');
        background: primary-color('100');
        border-radius: 12px;
        padding: 2px 8px;
        display: inline-block;
        margin-top: 44px;
      }
    }
  }
}

.headerh2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.01em;
}

.headerh4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: dark-color('700');
}

.text-gray-500 {
  color: dark-color('500');
}

