@import '~/../../assets/css/theme/_theme';

.maticTokensList {
  $dark-primary-500: #8247e5;
  $static-white: #ffffff;
  $light-gray-100: #ffffff;
  $light-gray-300: #dddfe0;
  $light-gray-400: #c0c3c9;
  $light-gray-500: #b0b4bb;
  $light-gray-900: #0a0b0d;

  $custom-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.08),
    inset 0px 1px 0.5px rgba(255, 255, 255, 0.16);

  border-left: solid 1px $light-gray-200;  
  background: light-color('700');
  align-items: center;
  display: flex;
  flex-direction: column;
  

  .formHeader {
    width: 100%;
    padding: 16px 20px;

    @media #{$lg-devices} {
      display: flex;
      padding: 21px 48px 21px 54px;
      max-width: 1190px;
      justify-content: space-between;
    }

    .leftSection {
      display: flex;
      justify-content: space-between;
      width: 100% !important;

      .filterIcon {
        height: 22px;
        width: 22px;
      }

      .mobileFilterSection {
        position: relative;

        .filterMenu {
          position: absolute;
          right: 0;
          top: 27px;
          background: light-color('700');
          border: 1px solid #dddfe0;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
          border-radius: 8px;
          padding: 8px;
          width: 180px;

          .hideZeroBalance,
          .plasma-only {
            display: flex;
            padding: 11px 9px;

            .label {
              margin-left: 9px;
            }
          }
        }
      }

      @media #{$lg-devices} {
        align-items: center;

        .mobileFilterSection {
          display: none;

          .filterIcon {
            height: 22px;
            width: 22px;
          }
        }
      }
    }

    .rightSection {
      margin-top: 16px;
      @media #{$lg-devices} {
        display: flex;
        align-items: center;
        margin-top: 0;
      }

      .hideZeroBalance,
      .plasmaOnly {
        display: none;

        .label {
          margin-left: 9px;
          margin-bottom: 0;
          white-space: nowrap;
          height: 18px;
          line-height: 18px;
        }
      }

      @media #{$lg-devices} {
        .hideZeroBalance,
        .plasmaOnly {
          display: flex;
        }
        .hideZeroBalance {
          margin-left: 19px;
        }
        .searchField {
          margin-left: 26px;
        }
      }
    }
  }

  .seperator {
    width: 100%;
    max-width: 1092px;
    border-bottom: 1px solid #f3f4f7;
  }

  .tokenListSection {
    width: 100%;

    .tokenListHeader {
      display: flex;
      justify-content: space-between;
      padding: 16px 20px;
      
      // light-gray-500
      color: #b0b4bb;
      font-size: small;

      .headerBalance {
        display: none;
      }

      @media #{$lg-devices} {
        max-width: 1190px;
        margin: 0 auto;
        // to visually adjust(with token list) star icon(54px) and metamask icon(48px)
        padding: 16px 48px 16px 54px;

        .headerName {
          display: flex;
          flex: 0 0 35%;
          // to visually adjust(with token list) token icon(32px) and margin-left(8px)
          margin-right: 46px;
        }
        .headerBalance {
          display: flex;
          flex: 0 0 35%;
        }
        .headerActions {
          display: flex;
          flex: 0 0 227px;
          // to visually adjust(with token list) deposit button's padding
          padding-left: 8px;
        }
      }
    }
  }

  .footerSeperator {
    margin: 16px auto 0 auto;
  }
  .footer {
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media #{$lg-devices} {
      max-width: 1190px;
      padding: 16px 48px 16px 54px;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .paginationSummary {
      color: $light-gray-500;
      @media #{$lg-devices} {
        display: flex;
        align-items: center;
      }

      .desktopOnlySeperator {
        display: none;
        @media #{$lg-devices} {
          display: inline;
          margin: 0 4px;
        }
      }

      .entriesPerPageSelect {
        display: none;
        @media #{$lg-devices} {
          display: flex;
          align-items: center;
        }

        .tokenPerPageDropdown {
          min-width: 63px;
        }
        .label {
          margin: 0 8px 0 0;
        }
      }
    }

    .sPagination {
      display: flex;
      margin-top: 16px;
      // justify-content: center;
      @media #{$lg-devices} {
        margin-top: 0px;
        //   justify-content: start;
      }

      .paginationItem {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 34px;
        padding: 7px;
        text-align: center;
        border-radius: 8px;

        &.paginationArrow {
          border: 1px solid $light-gray-400;
          box-shadow: $custom-box-shadow;
        }

        &.paginationNumber {
          color: $light-gray-900;

          &.active {
            color: $static-white;
            background: $dark-primary-500;
          }
        }
      }
    }
  }

  .noTokensSection {
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $light-gray-500;

    @media #{$lg-devices} {
      max-width: 1190px;
      padding: 16px 48px 16px 54px;
    }
  }
}

.mobileCtaMenu {
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  // background: #0a0b0d;
  // opacity: 0.5;
  z-index: 52;

  .closeButton {
    margin-bottom: 16px;

    img {
      height: 24px;
      width: 24px;
    }
  }

  .ctaMainSection {
    background: #ffffff;
    padding: 20px 20px 36px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;

    .tokenDetail {
      display: flex;
      align-items: center;

      .tokenImg {
        height: 32px;
        width: 32px;
        margin-right: 14px;
      }
      .seperatorDot {
        margin: 0 4px;
      }
    }
    .actionsHeading {
      margin-top: 20px;
      margin-bottom: 11px;
    }
    .mobileCtaButton {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.sMobileCtaBackdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: 51;
  background: #0a0b0d;
  opacity: 0.5;
}

.headerH5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

// input[type='checkbox'] {
//   height: 18px;
//   width: 18px;
// }

.light-gray-500 {
  color: #b0b4bb;
}
.light-gray-600 {
  color: #52555d;
}
.light-gray-900 {
  color: #0a0b0d;
}

.accountBox {
  margin-left: 32px;
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
  border-radius: 50px;
  padding: 10px;
  height: 40px;

  max-width: 190px;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;

  &:hover {
    cursor: pointer;   
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  .accountAddress {
    font-size: 16px;    
  }

  svg {
    font-size: 16px;
    margin-left: 8px;
    color: #ddd;
  }
}