@import '~/../../assets/css/theme/_theme';

$light-gray-100: #ffffff;

.wallet {
  width: 100%;    
  min-height: calc(100vh - #{$navbar-local-height});
  background: $light-gray-100;
  

  .walletComponents {
    
    display: flex;


    &__left {
      min-width: 270px;
      width: 15%;
    }

    &__right {
      
      width: 85%;
    }
  }
}