@import '~/../../../assets/css/theme/_theme';

.blue_back {
  min-height: calc(100vh - #{$navbar-local-height});
  background-color: primary-color('600');
  background-image: import('src/assets/img/bridge-bg.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 250px;

  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0%,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(211.99deg, rgba(65, 157, 241, 0.2) -4.17%, rgba(45, 143, 234, 0) 68.7%),
    radial-gradient(100% 100% at 28.65% 0%, #d5bdf5 0%, rgba(250, 247, 254, 0) 100%);

  @media screen and (max-width: '1000px') {
    width: 100vw;
  }
}

.page_partition {
  padding: 20px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: '1000px') {
    padding-top: 62px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.info_wrapper {
  width: 332px;
  height: 672px;
  left: 940px;
  top: 100px;

  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(16px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
  padding: 24px;
  margin-left: 20px;

  @media screen and (max-width: '1000px') {
    width: 100%;
    height: 332px;
    margin-left: 0px;
    margin-top: 15px;
  }
}

.info_painel_title {
  height: 32px;
  left: 964px;
  top: 124px;

  /* Header/H3 */

  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: -0.01em;

  /* light/gray-900 */

  color: #0a0b0d;
}

.info_painel_description {
  width: 284px;
  height: 40px;
  left: 964px;
  top: 164px;

  /* Body/Small */

  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  /* light/gray-900 */

  color: #0a0b0d;

  opacity: 0.6;
  margin-top: 8px;

  @media screen and (max-width: '1000px') {
    width: 100%;
  }
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;

  a {
    width: 40%;
    text-decoration: none;
    color: #0a0b0d;

    &:hover {
      color: #0a0b0d;
      text-decoration: none;
      cursor: pointer;
    }

    @media screen and (max-width: '1000px') {
      width: 100%;
    }
  }
}

.each_item_wrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;

  svg {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* light/gray-900 */

    color: #0a0b0d;
  }
}

.items_text {
  width: 83px;
  height: 20px;
  right: 393px;
  top: 228px;

  /* Label/Small */

  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  /* light/gray-900 */

  color: #0a0b0d;
}

.img1 {
  display: flex;
  justify-content: flex-end;

  margin-top: 67px;
  width: 100%;

  img {
    margin-right: -24px;
  }
}

.img2 {
  display: flex;
  justify-content: flex-start;

  width: 100%;

  img {
    margin-left: -24px;
  }
}
