name: Check PR

on:
  pull_request:
    branches: [master]

env:
  cache-name: ${{ github.head_ref }}-nightfall-setup

jobs:
  dependency-review:
    runs-on: ubuntu-20.04
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v3
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v1.0.2

  eslint-check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v1
        with:
          node-version: '14.17.0'
      - name: eslint check
        run: |
          npm ci
          cd wallet/
          npm ci
          cd ..
          npm run lint

  cache-nightfall:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          key: ${{ env.cache-name }}
          path: |
            /var/lib/docker
            /nightfall_3

      - name: Setup Nightfall
        run: |
          ./setup-nightfall

  general-tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v1
        with:
          node-version: '14.17.0'
      - name: General Tests
        run: |
          npm run test-general-stuff
          cd common-files && npm run test

  circuits-test:
    needs: cache-dependencies
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: '14.17.0'
      
      - name: Start Containers
        run: |
          ./start-nightfall -g -d &> circuit-test.log &disown

      - name: Wait for images to be ready
        uses: Wandalen/wretry.action@v1.0.11
        with:
          command: |
            docker wait nightfall_3_deployer_1
          attempt_limit: 100
          attempt_delay: 20000

      - name: Circuits Test
        run: |
          npm run test-circuits

  ganache-test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v1
        with:
          node-version: '14.17.0'

      - name: Start Containers
        run: |
          ./setup-nightfall
          ./start-nightfall -g -d &> ganache-test.log &disown

      - name: Wait for images to be ready
        uses: Wandalen/wretry.action@v1.0.11
        with:
          command: |
            docker wait nightfall_3_deployer_1
          attempt_limit: 100
          attempt_delay: 20000

      - name: Debug logs - after image builds
        if: always()
        run: cat ganache-test.log

      - name: Run integration test
        run: |
          npm ci
          docker wait nightfall_3_deployer_1
          npm run test-e2e-protocol
          npm run test-e2e-tokens

      - name: Debug logs - after integration test run
        if: always()
        run: cat ganache-test.log

      - name: If integration test failed, shutdown the Containers
        if: failure()
        run: docker-compose -f docker-compose.yml -f docker-compose.ganache.yml down -v

      - name: If integration test failed, upload logs files as artifacts
        if: failure()
        uses: actions/upload-artifact@master
        with:
          name: ganache-test-logs
          path: ./ganache-test.log

  adversary-test:
    runs-on: ubuntu-20.04
    env:
      TRANSACTIONS_PER_BLOCK: 32
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v1
        with:
          node-version: '14.17.0'

      - name: Build adversary
        run: npm run build-adversary

      - name: Start Containers with geth
        run: |
          ./setup-nightfall
          ./geth-standalone -s
          sleep 300 
          ./start-nightfall -l -d -a &> adversary-test.log &disown

      - name: Wait for images to be ready
        uses: Wandalen/wretry.action@v1.0.11
        with:
          command: |
            docker wait nightfall_3_deployer_1
          attempt_limit: 100
          attempt_delay: 20000

      - name: debug logs - after container startup
        if: always()
        run: cat adversary-test.log

      - name: Run integration test
        run: |
          npm ci
          docker wait nightfall_3_deployer_1
          VERBOSE=true npm run test-adversary

      - name: debug logs - after integration test run
        if: always()
        run: cat adversary-test.log

      - name: If integration test failed, shutdown the Containers
        if: failure()
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.dev.yml -f docker-compose.ganache.yml -f docker-compose.adversary.yml down -v 
          ./geth-standalone -d

      - name: If integration test failed, upload logs files as artifacts
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: adversary-test-logs
          path: ./adversary-test.log

  ping-pong-test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v1
        with:
          node-version: '14.17.0'

      - name: Start Containers
        run: |
          docker build --no-cache	-t ghcr.io/eyblockchain/local-zokrates:0.7.13 -f zokrates.Dockerfile .
          cd test/ping-pong
          docker-compose build
          ./ganache-standalone -s
          sleep 10
          ./pong-nightfall -d -s &> ping-pong-test.log &disown

      - name: debug logs - after container startup
        if: always()
        run: cat test/ping-pong/ping-pong-test.log

      - name: Wait for images to be ready
        uses: Wandalen/wretry.action@v1.0.11
        with:
          command: |
            docker ps
            docker wait ping-pong_deployer_1
          attempt_limit: 100
          attempt_delay: 20000

      - name: Run ping-pong test
        run: |
          cd test/ping-pong
          ./pong-apps

      - name: debug logs - after integration test run
        if: always()
        run:
          results=$(cat test/ping-pong/ping-pong-test.log | grep passed); if [ ! -z "${results}" ];
          then exit 0; else exit 1; fi

      - name: If integration test failed, shutdown the Containers
        if: failure()
        run: |
          cd test/ping-pong
          ./pong-down -v
          ./ganache-standalone -d

      - name: If integration test failed, upload logs files as artifacts
        if: failure()
        uses: actions/upload-artifact@master
        with:
          name: ping-pong-test-logs
          path: test/ping-pong/ping-pong-test.log

  test-gas:
    name: check gas for 32 transactions per block
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v1
        with:
          node-version: '14.17.0'

      - name: Start Containers with ganache
        run: |
          ./setup-nightfall
          ./start-nightfall -g -d &> test-gas.log &disown
        env:
          TRANSACTIONS_PER_BLOCK: 32

      - name: Wait for images to be ready
        uses: Wandalen/wretry.action@v1.0.11
        with:
          command: |
            docker ps
            docker wait nightfall_3_deployer_1
          attempt_limit: 100
          attempt_delay: 20000

      - name: Debug logs - after container startup
        if: always()
        run: cat test-gas.log

      - name: Run tx-gas.mjs test suites
        run: |
          npm ci
          VERBOSE=true npm run test-gas

      - name: Debug logs - after integration test run
        if: always()
        run: cat test-gas.log

      - name: If integration test failed, shutdown the Containers
        if: failure()
        run: docker-compose -f docker-compose.yml -f docker-compose.ganache.yml down -v

      - name: If integration test failed, upload logs files as artifacts
        if: failure()
        uses: actions/upload-artifact@master
        with:
          name: test-gas-logs
          path: ./test-gas.log
